.footerArea {
  background-color: #393a3e;
  padding: 19px;

  p {
    color: #7b7e86;
    font-size: 10px;
  }

  .copyright {
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
  }
}
