@font-face {
  font-family: "Pretendard Black";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("./woff2-subset/Pretendard-Black.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard ExtraBold";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("./woff2-subset/Pretendard-ExtraBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Regular";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("./woff2-subset/Pretendard-Regular.subset.woff2") format("woff2");
}

body {
  /* 기본 폰트 설정 */
  font-family: "Pretendard Regular", sans-serif;
}
