.listArea {
  // width를 자식이 100% 못차지했던 코드.. 였으나 ul, li의 기본 margin, padding 때문이었음
  background-color: black;
  position: absolute;
  top: 0;
  z-index: 1001;
}

.selectArea {
  position: relative;
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}
