.mainArea {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.layoutArea {
  // 반응형 시안이 나오기 전까지 iPhone SE 사이즈만 적용
  margin: 0 auto;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
