@use "@styles/base/mixins" as *;

.area {
  height: 100vh;

  .wrapper {
    width: 375px;
    max-width: 375px;
    height: 100%;
    margin: 0 auto;

    box-shadow: 0 0 20px rgba(223, 223, 223, 0.4),
      0 0 4px rgba(223, 223, 223, 0.4);
  }
}

.pretendardBold {
  @include pretendard-bold;
}

.pretendardMedium {
  @include pretendard-medium;
}

.pretendardRegular {
  @include pretendard-regular;
}
