.logoWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mobileMenuWrapper {
  display: flex;
  align-items: center;
  gap: 1.5em;

  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0;
  }
}
