.area {
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #eaeaea;

  .listWrapper {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em 0.75em 0.4em 1em;
  }
}

.borderBottom {
  backdrop-filter: blur(5px);
  background-color: transparent;
  border-bottom: none;
}
