.todayArea {
  height: 100%;
  width: 100%;
  position: relative;

  .hillWrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    .sign {
      position: absolute;
      bottom: 37%;
      left: 17%;
      z-index: 1;
    }

    .hill {
      position: absolute;
      bottom: 32.9%;
      width: 100%;
      max-width: 375px;
      height: 66px;
      background: #00a789;
      clip-path: ellipse(55% 85% at 50% 100%);
    }
  }

  .background {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    height: 33%;
    background: linear-gradient(to bottom, #00a789, #00836b);
  }

  .content {
  }
}
