.allListArea {
  background-color: #f3f3f4cc;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .searchWrapper {
    width: 100%;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
  }

  .listWrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 30px;
  }
}
