.renderTest {
  height: 100vh;
}

.pretendardBold {
  font-family: "Pretendard Bold", sans-serif;
}

.pretendardMedium {
  font-family: "Pretendard Medium", sans-serif;
}

.pretendardRegular {
  font-family: "Pretendard Regular", sans-serif;
}
